/* h1 {
    color: green;
    font-size: 20px;
}

#myid {
    color: black;
}

.myclass {
    color: purple;
    background-color: yellow;
} */




.myClass h1 #myid {
    color: green;
}

#myid {
    color: rgb(250, 61, 93);
}